* {
    margin: 0;
    padding: 0;
}

body {
    margin: 20vh 20vw;
}

#uitslag {
    height: 50vh;
    width: 60vw;
    background-color: red;
}

p {
    color: white;
    text-align: center;
    background-color: red;
    width: 60vw;
    font-size: 50px;
}

.sneeuwvlokje {
    position: absolute;
    stroke: white;
    stroke-width: 2px;
    fill: none;
    transform-origin: center;
}